a
{
	width: 15%;
	padding: 0.5%;
	background-color: #8850ee;
	border: 5px solid #434343;
	text-align: center;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	font-weight: bold;
	font-family: 'Arial';
	text-decoration: none;
	color: black;
}

a:visited 
{
	color: black;
}

a:active 
{
	color: black;
}

a:hover 
{
	background: orange; 
} 

.menu_field
{
	margin: 3.5%;
}