input[type='text']
{
	width: 50%;
}

input[type="submit"]
{
	width: 15%;
	padding: 0.5%;
	background-color: #8850ee;
	border: 5px solid #434343;
	text-align: center;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	font-weight: bold;
	font-family: 'Arial';
	text-decoration: none;
	color: black;
}

input[type="submit"]:hover
{
	background: orange;
}